snippet qu "Crea un entorno de question"
	\\begin{question}[${1:}] ${2:Pregunta}
		\\begin{solution}${3:}\\end{solution}
	\\end{question}



snippet sol "crea entorno solucion"
	\\begin{solution}${1:}\\end{solution}


snippet fr "Crea un frame"
	\\begin{frame}{${1:Título}}
	\\end{frame}

snippet bl "Crea un bloque"
		\\begin{block}{${1:cabecera_bloque}}
				${2:}
		\\end{block}
	
